<section class="note-page">
  <div class="intro">
    <img src="../../../assets/imgs/note.gif" alt="uni-note" />
  </div>

  <div class="flex">
    <div class="note">
      <h2>Avaliar</h2>
      <ngx-avatar
        class="my-avatar"
        size="120"
        name="Nome Professor"
      ></ngx-avatar>
      <h3>Nome do professor</h3>
      <h5>Disciplina do professor</h5>
      <ngb-rating max="5" [(rate)]="currentRate"></ngb-rating>
    </div>
    <div class="previous">
      <h2>Avaliações Anteriores</h2>
    </div>
  </div>
</section>
